<%- include('./static/header') %>

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
<!-- tailwind ui -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css" integrity="sha512-y6ZMKFUQrn+UUEVoqYe8ApScqbjuhjqzTuwUMEGMDuhS2niI8KA3vhH2LenreqJXQS+iIXVTRL2iaNfJbDNA1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/base.css" integrity="sha512-4MP2bln1wciK6s5shUwCOqFzVj/ye9U+yYQ0AnHExNUDcbOzMcBRsJvEq+vWqNuFpro/XwY1kmwd/ZUGFfsKTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/base.min.css" integrity="sha512-4VB9GCwtWOJxNtYsvJ7qUjRCTtlHpBYKQwr5ae/GgAd/ti9SFx0yh/CmAAO2H8ymeRJxg1F578l+7FAz1DuKgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/components.css" integrity="sha512-9BlWpvccUKhxv9Jzha/JN6P+4hrVmhka0a0tnjtuv+Ro/V8itR/f0FM28++8CiK2CQ/qXu56VzGoHpGT3dJTKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/components.min.css" integrity="sha512-f6TS5CFJrH/EWmarcBwG54/kW9wwejYMcw+I7fRnGf33Vv4yCvy4BecCKTti3l8e8HnUiIbxx3V3CuUYGqR1uQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind-dark.css" integrity="sha512-Yt3PdSrCZnj7mhutv79VS3J9jTRowSZqLFQzuEBeNubDmAW8OScQpUprgvaFfpYs56D+bPLbuQ8KZAC0v5bg+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind-dark.min.css" integrity="sha512-XNq2InU9g3bwTbdv41jQXIaKTItROto41g3jRHfOYlpCSb2O5FYBmyuuGj0gxlJbGOpKioZw/FImcU/BxIt6gg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Georama:wght@100&display=swap" rel="stylesheet">


<link href="https://fonts.googleapis.com/css2?family=Georama:wght@100&family=Noto+Sans+JP&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://raw.githubusercontent.com/lipis/flag-icon-css/master/css/flag-icon.css">
<link rel="stylesheet" href="https://raw.githubusercontent.com/lipis/flag-icon-css/master/css/flag-icon.min.css">
<link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
<!-- Page Content  -->
<!-- Dark Overlay element -->
<br>
<br>

    <div class="overlay"></div>

<div class="jumbotron">
  
  <p style="text-align: left;font-family: 'Noto Sans JP', sans-serif;"> Members Count: <%= ksayi %> </p>
  <br>
  
  <p style="text-align: left;font-family: 'Noto Sans JP', sans-serif;"> Verification Level: <%= verfyseviye %> </p>
 <br>
  <center>
    
<img src="https://cdn.discordapp.com/icons/<%=id%>/<%=srev.icon%>.png" class="rounded card jumbotron"></img>
  <p class="badge badge-success"><%= srev.name%></p>
  
  </center>
</div>
    <div class="max-w-screen-lg bg-indigo-500 shadow-2xl rounded-lg mx-auto text-center py-12 mt-4">

        <h2 class="text-3xl leading-9 font-bold tracking-tight text-white sm:text-4xl sm:leading-10">

            <i class="fas fa-user-shield"></i> Moderation

        </h2>

        <div class="mt-8 flex justify-center">

            <div class="inline-flex rounded-md bg-white shadow">

                <a href="/dash/>/yonet/mod" class="text-gray-700 font-bold py-2 px-6">

                    Setup

                </a>

            </div>

        </div>

    </div>
<br>
<br>
    <div class="max-w-screen-lg bg-indigo-500 shadow-2xl rounded-lg mx-auto text-center py-12 mt-4">

        <h2 class="text-3xl leading-9 font-bold tracking-tight text-white sm:text-4xl sm:leading-10">

           <i class="fas fa-plus-circle"></i> Plugins

        </h2>

        <div class="mt-8 flex justify-center">

            <div class="inline-flex rounded-md bg-white shadow">

                <a href="/dash/</yonet/plugins" class="text-gray-700 font-bold py-2 px-6">

                    Setup

                </a>

            </div>

        </div>

    </div>

     


     



<!-- include("./static/footer") -->
<!--
<script>
    const hamburger = document.querySelector(".hamburger");const navMenu = document.querySelector(".nav-menu");const navLink = document.querySelectorAll(".nav-link"); hamburger.addEventListener("click", mobileMenu);navLink.forEach(n => n.addEventListener("click", closeMenu)); function mobileMenu() { hamburger.classList.toggle("active"); navMenu.classList.toggle("active");} function closeMenu() { hamburger.classList.remove("active"); navMenu.classList.remove("active");}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Popper.JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!-- jQuery Custom Scroller CDN -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

