<%- include('./static/header') %>

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
<!-- tailwind ui -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css" integrity="sha512-y6ZMKFUQrn+UUEVoqYe8ApScqbjuhjqzTuwUMEGMDuhS2niI8KA3vhH2LenreqJXQS+iIXVTRL2iaNfJbDNA1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/base.css" integrity="sha512-4MP2bln1wciK6s5shUwCOqFzVj/ye9U+yYQ0AnHExNUDcbOzMcBRsJvEq+vWqNuFpro/XwY1kmwd/ZUGFfsKTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/base.min.css" integrity="sha512-4VB9GCwtWOJxNtYsvJ7qUjRCTtlHpBYKQwr5ae/GgAd/ti9SFx0yh/CmAAO2H8ymeRJxg1F578l+7FAz1DuKgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/components.css" integrity="sha512-9BlWpvccUKhxv9Jzha/JN6P+4hrVmhka0a0tnjtuv+Ro/V8itR/f0FM28++8CiK2CQ/qXu56VzGoHpGT3dJTKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/components.min.css" integrity="sha512-f6TS5CFJrH/EWmarcBwG54/kW9wwejYMcw+I7fRnGf33Vv4yCvy4BecCKTti3l8e8HnUiIbxx3V3CuUYGqR1uQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind-dark.css" integrity="sha512-Yt3PdSrCZnj7mhutv79VS3J9jTRowSZqLFQzuEBeNubDmAW8OScQpUprgvaFfpYs56D+bPLbuQ8KZAC0v5bg+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind-dark.min.css" integrity="sha512-XNq2InU9g3bwTbdv41jQXIaKTItROto41g3jRHfOYlpCSb2O5FYBmyuuGj0gxlJbGOpKioZw/FImcU/BxIt6gg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Georama:wght@100&display=swap" rel="stylesheet">


<link href="https://fonts.googleapis.com/css2?family=Georama:wght@100&family=Noto+Sans+JP&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://raw.githubusercontent.com/lipis/flag-icon-css/master/css/flag-icon.css">
<link rel="stylesheet" href="https://raw.githubusercontent.com/lipis/flag-icon-css/master/css/flag-icon.min.css">
<link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
<!-- Page Content  -->
<!-- Dark Overlay element -->
<body>
<br>
<br>

    <div class="overlay"></div>
<div class="jumbotron">
          <div class="flex flex-wrap justify-around my-4">
            <div class="m-2">
              <div class="component flex max-w-sm">
                <div class="bg-gray-100 shadow-sm rounded-lg">
                  <div class="bg-cover p-8 rounded-t-lg" style="background-image: url(&quot;<%= srev.bannerURL() || "https://cdn.glitch.com/6ebc0877-3e88-4c65-946a-70564c920033%2F20210807_234415.png?v=1628365479239" %>&quot;);">
                    <div class="font-semibold text-gray-100 text-lg tracking-wide"></div>
                    <div class="font-black text-gray-100 text-2xl tracking-wide mb-10"></div>
                  </div>
                  <div class="px-8 py-6 relative">
                    <div class="absolute top-0 left-0 ml-8 transform -translate-y-1/2 h-20 w-20 bg-cover rounded-full border-2 border-gray-500" style="background-image: url(&quot;https://cdn.discordapp.com/icons/<%=id%>/<%=srev.icon%>.png&quot;);"></div>
                    <div class="mt-10 text-sm"><span class="text-gray-500 font-semibold"></span> <span class="badge badge-success"> <%= srev.name %></span><span class="text-gray-500 font-semibold"></span> </div>
                    <div class="mt-10 text-sm"><span class="text-gray-500 font-semibold"><i class="fad fa-hourglass-half"></i> Server Created:</span> <%= moment(srev.createdAt).locale("en").format("LLL"); %><span class="text-gray-500 font-semibold"></span> </div>
                    <div class="mt-6">
                       <div class="uppercase mt-2 text-indigo-500 font-black text-2xl leading-none"><i class="fad fa-signal-alt"></i> Server Statics</div>
              <br>
                      <div class="uppercase font-bold text-gray-600"><i class="fad fa-users"></i> Members Count: <%= ksayi %></div>
                      <br>
                        <div class="uppercase font-bold text-gray-600"><i class="fad fa-level-up-alt"></i> Verification Level: <%= verfyseviye %> </div>
                      <br>
                        <div class="uppercase font-bold text-gray-600"><i class="fal fa-globe-europe"></i> Region: <%= region %></div>
                      <br>
                    
                    <!--
                      <div class="uppercase mt-2 text-indigo-500 font-black text-2xl leading-none">TailwindCSS2020</div>
                  -->  </div>
                    <div class="mt-6 text-gray-500 text-sm"><i class="fad fa-pencil-paintbrush"></i> Description: <%= srev.description || "An Greesy Bot Guild"%></div>
                  </div>
                <!--  <div><button class="w-full border border-transparent rounded-b-lg font-semibold tracking-wide px-5 py-4 focus:outline-none focus:shadow-outline bg-indigo-500 text-gray-100 hover:bg-indigo-600 hover:text-gray-200">Use Coupon Code</button></div>
               --> </div>
              </div>
            </div>
          </div>
  </div>
            
            <br>
            <br>
            
            
    <div class="max-w-screen-lg bg-indigo-500 shadow-2xl rounded-lg mx-auto text-center py-12 mt-4">

        <h2 class="text-3xl leading-9 font-bold tracking-tight text-white sm:text-4xl sm:leading-10">

            <i class="fas fa-user-shield"></i> Moderation

        </h2>

        <div class="mt-8 flex justify-center">

            <div class="inline-flex rounded-md bg-white shadow">

                <a href="/dash/<%= id%>/yonet/mod" class="text-gray-700 font-bold py-2 px-6">

                    Setup

                </a>

            </div>

        </div>

    </div>
<br>
<br>
    <div class="max-w-screen-lg bg-indigo-500 shadow-2xl rounded-lg mx-auto text-center py-12 mt-4">
        <h2 class="text-3xl leading-9 font-bold tracking-tight text-white sm:text-4xl sm:leading-10">
           <i class="fas fa-users-medical duotone"></i> Welcome
        </h2>
        <div class="mt-8 flex justify-center">
            <div class="inline-flex rounded-md bg-white shadow">
                <a href="#" class="text-gray-700 font-bold py-2 px-6">
                    Setup
                </a>
            </div>
        </div>
    </div><!-- giris cikis resimli fln mesajli fln-->
     

<br>
<br>
    <div class="max-w-screen-lg bg-indigo-500 shadow-2xl rounded-lg mx-auto text-center py-12 mt-4">

        <h2 class="text-3xl leading-9 font-bold tracking-tight text-white sm:text-4xl sm:leading-10">

           <i class="fas fa-plus-circle"></i> Plugins

        </h2>

        <div class="mt-8 flex justify-center">

            <div class="inline-flex rounded-md bg-white shadow">

                <a href="/dash/</yonet/plugins" class="text-gray-700 font-bold py-2 px-6">

                    Setup

                </a>

            </div>

        </div>

    </div>
<br>
<br>
    <div class="max-w-screen-lg bg-indigo-500 shadow-2xl rounded-lg mx-auto text-center py-12 mt-4">
        <h2 class="text-3xl leading-9 font-bold tracking-tight text-white sm:text-4xl sm:leading-10">
           <i class="fas fa-angle-double-up"></i> Custom
        </h2>
        <div class="mt-8 flex justify-center">
            <div class="inline-flex rounded-md bg-white shadow">
                <a href="#" class="text-gray-700 font-bold py-2 px-6">
                    Setup
                </a>
            </div>
        </div>
    </div><!-- ozel komutla kullanilan mesajlar,otocevap fln-->
<br>
<br>
    <div class="max-w-screen-lg bg-indigo-500 shadow-2xl rounded-lg mx-auto text-center py-12 mt-4">
        <h2 class="text-3xl leading-9 font-bold tracking-tight text-white sm:text-4xl sm:leading-10">
            <i class="fas fa-funnel-dollar"></i> Fun
        </h2>
        <div class="mt-8 flex justify-center">
            <div class="inline-flex rounded-md bg-white shadow">
                <a href="#" class="text-gray-700 font-bold py-2 px-6">
                    Setup
                </a>
            </div>
        </div>
    </div><!-- economy,brithdays olacak-->
     <style>
       body {
         background-color: #2196f3 #146ca4 green blue;
        } 
</style>
</body>

     

<!-- JQuery -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Bootstrap tooltips -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>

<!-- Bootstrap core JavaScript -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
<!-- Footer -->



     <!-- Font Awesome -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<!-- Google Fonts -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

<!-- Bootstrap core CSS -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

<!-- Material Design Bootstrap -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
<!-- Footer -->




     



<!-- include("./static/footer") -->
<!--
<script>
    const hamburger = document.querySelector(".hamburger");const navMenu = document.querySelector(".nav-menu");const navLink = document.querySelectorAll(".nav-link"); hamburger.addEventListener("click", mobileMenu);navLink.forEach(n => n.addEventListener("click", closeMenu)); function mobileMenu() { hamburger.classList.toggle("active"); navMenu.classList.toggle("active");} function closeMenu() { hamburger.classList.remove("active"); navMenu.classList.remove("active");}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Popper.JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!-- jQuery Custom Scroller CDN -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

