<%- include('./static/dashheader') %>

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://raw.githubusercontent.com/lipis/flag-icon-css/master/css/flag-icon.css">
<link rel="stylesheet" href="https://raw.githubusercontent.com/lipis/flag-icon-css/master/css/flag-icon.min.css">
<link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
<!-- Page Content  -->
<!-- Dark Overlay element -->
<br>
<br>

    <div class="overlay"></div>

<div class="jumbotron">
  <center>
<img src="https://cdn.discordapp.com/icons/<%=id%>/<%=srev.icon%>.png" class="rounded card jumbotron"></img>
  <p class="badge badge-success"><%= srev.name%></p>
  </center>
</div>

<% if(banner){ %>
<img src="<%=banner%>"></img>
<% }else{ %>

<%}%>
<br>
<br>

<div class="jumbotron col-md-4 col-xl-3 offset-xl-0 " style="size: 15px ; height: ; width: ;" >
  <br>
  <br>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">

  <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>

</svg> <a href="/dash/<%= id %>/yonet/counter">Counter System</a>
    <p style="text-align: center; color: gray; font-family: 'Yomogi', cursive;" > Click To Setup! </p>
<br>
  <br>
  <br>
</div>
<br>
<br>

</div>
<br>
<br>


<div class="jumbotron col-md-4 col-xl-3 offset-xl-1 " style="size: 15px ; height: ; width: ;" >
  <br>
  <br>
<i class="fab fa-youtube"></i> <a href="/dash/<%= id %>/yonet/yt-notify">Youtube Video Notification</a>
    <p style="text-align: center; color: gray; font-family: 'Yomogi', cursive;" > Click To Setup! </p>
<br>
  <br>
  <br>
</div>
<br>
<br>

</div>
<br>
<br>

<div class="jumbotron col-md-4 col-xl-3 offset-xl-2 " style="size: 15px ; height: ; width: ;" >

  <br>

  <br>
<i class="fas fa-user-tag"></i> <a href="/dash/<%= id %>/yonet/autorole">AutoRole System</a>

    <p style="text-align: center; color: gray; font-family: 'Yomogi', cursive;" > Click To Setup! </p>

<br>

  <br>

  <br>

</div>

<br>

<br>

</div>

<br>

<br>

<style type="text/css">
div.container {
  float:left;
  width:98%;
  height:auto;
  min-height:300px;
  border:1px solid #e1e1e1;
  clear:both;
}
div.items-1 {
  clear:both;
  float:left;
  }
div.items-2, div.items-3 {
  float:left;
}
div.items-3{
  background:#d35400;
}
div.items-1, div.items-2, div.items-3 {
  width:31%;
  height:auto;
  min-height:300px;
  margin:1%
}

@media screen and (max-width:479px){
  
  div.items-1, div.items-2, div.items-3 {
  clear:both;
  float:left;
  width:100%;
  height:auto;
  min-height:300px;
  margin:1%
    }
}
</style>


<br>
  <div class="col-md-4 col-xl-3 offset-xl-0">
<div class="col-md-4 col-xl-3 offset-xl-0">
    <p class="badge badge-info"> Server Statics </p>
    
    </div>
    
Audit Logs :
  <%= fetchedLogs || "Yok" %>
    </div>
  <br>
  
  <br>
  <br>
  
  <div class="col-md-4 col-xl-3 offset-xl-0">
Verifaction Level :
  <% if(verfyseviye == "NONE"){ %>
  0
  <%} %>
    </div>
  
  <div class="col-md-4 col-xl-3 offset-xl-0">
  <%= verfyseviye %>
    </div>
  <br>

  <br>

  
  <div class="col-md-4 col-xl-3 offset-xl-0">
  Roles : 
    <%= roller || "Yok" %>
    </div>
  
  <br>
  <br>
  
  <div class="col-md-4 col-xl-3 offset-xl-0">
  Region : 
     <% if(region == "russia"){ %>
    <span class="badge badge-success">RU</span> RUSSIA
    <% } %>
    
    <!-- UK -->
     <% if(region == "southafrica"){ %>
    <span class="badge badge-success">RSA</span> SOUTH AFRICA
    <% } %>
    <!-- TR -->
     <% if(region == "turkey"){ %>
    <span class="badge badge-success">TR</span> TURKEY
    <% } %>
    
    
    
    
    </div>
  
  <br>
  <br>
  <div class="col-md-4 col-xl-3 offset-xl-0">
    Afk Channel : 
     <%= afkK || "Not Found" %>
  </div>
<br>
  <br>
  <div class="col-md-4 col-xl-3 offset-xl-0">
    Guild Premium : 
     <%= fetchGuildPre %>
  </div>
  
  <style>
    .col{
      margin: 100px; 
      width: 300px
    }
#sidebar.active {

    min-width: 80px;

    max-width: 80px;

    text-align: center;

}
 .how , .sunucuinfo {
   padding: 50% 4em;
   min-width: 70px 2em;
   text-align: left;
   font-size: 15px;
   border-radius: 15px;
   border-color: #146ca4;
  } 

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/

#sidebar .sidebar-header strong {

    display: none;

}

#sidebar.active .sidebar-header h3 {

    display: none;

}

#sidebar.active .sidebar-header strong {

    display: block;

}
.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}
a {
  text-align: center;
 } 
#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}
#sidebar ul li a {

    text-align: left;

}

#sidebar.active ul li a {

    padding: 20px 10px;

    text-align: center;

    font-size: 0.85em;

}

#sidebar.active ul li a i {

    margin-right:  0;

    display: block;

    font-size: 1.8em;

    margin-bottom: 5px;

}

/* Same dropdown links padding*/

#sidebar.active ul ul a {

    padding: 10px !important;

}

/* Changing the arrow position to bottom center position, 

   translateX(50%) works with right: 50% 

   to accurately  center the arrow */

#sidebar.active .dropdown-toggle::after {

    top: auto;

    bottom: 10px;

    right: 50%;

    -webkit-transform: translateX(50%);

    -ms-transform: translateX(50%);

    transform: translateX(50%);

}
  @media (max-width: 768px) {

    /* 80px and its content aligned to centre. Pushing it off the screen with the

       negative left margin

    */

    #sidebar.active {

        min-width: 80px;

        max-width: 80px;

        text-align: center;

        margin-left: -80px !important;

    }

    /* Reappearing the sidebar on toggle button click */

    #sidebar {

        margin-left: 0; 

    }

    /* Toggling the sidebar header content, 

       hide the big heading [h3] and showing the small heading [strong] and vice versa

    */

    #sidebar .sidebar-header strong {

        display: none;

    }

    #sidebar.active .sidebar-header h3 {

        display: none;

    }

    #sidebar.active .sidebar-header strong {

        display: block;

    }

    /* Downsize the navigation links font size */

    #sidebar.active ul li a {

        padding: 20px 10px;

        font-size: 0.85em;

    }

    #sidebar.active ul li a i {

        margin-right:  0;

        display: block;

        font-size: 1.8em;

        margin-bottom: 5px;

    }

    /* Adjust the dropdown links padding*/

    #sidebar.active ul ul a {

        padding: 10px !important;

    }

    /* Changing the arrow position to bottom center position, 

      translateX(50%) works with right: 50% 

      to accurately  center the arrow */

    .dropdown-toggle::after {

        top: auto;

        bottom: 10px;

        right: 50%;

        -webkit-transform: translateX(50%);

        -ms-transform: translateX(50%);

        transform: translateX(50%);

    }

}


@media (max-width: 768px) {

    /* 80px and its content aligned to centre. Pushing it off the screen with the

       negative left margin

    */
.jumbotron {
  text-align: center;
  font-family: 'Otomanopee One', sans-serif;
  } 
    #sidebar.active {

        min-width: 80px;

        max-width: 80px;

        text-align: center;

        margin-left: -80px !important;

    }

    /* Reappearing the sidebar on toggle button click */

    #sidebar {

        margin-left: 0; 

    }

    /* Toggling the sidebar header content, 

       hide the big heading [h3] and showing the small heading [strong] and vice versa

    */

    #sidebar .sidebar-header strong {

        display: none;

    }

    #sidebar.active .sidebar-header h3 {

        display: none;

    }

    #sidebar.active .sidebar-header strong {

        display: block;

    }

    /* Downsize the navigation links font size */

    #sidebar.active ul li a {

        padding: 20px 10px;

        font-size: 0.85em;

    }

    #sidebar.active ul li a i {

        margin-right:  0;

        display: block;

        font-size: 1.8em;

        margin-bottom: 5px;

    }

    /* Adjust the dropdown links padding*/

    #sidebar.active ul ul a {

        padding: 10px !important;

    }

    /* Changing the arrow position to bottom center position, 

      translateX(50%) works with right: 50% 

      to accurately  center the arrow */

    .dropdown-toggle::after {

        top: auto;

        bottom: 10px;

        right: 50%;

        -webkit-transform: translateX(50%);

        -ms-transform: translateX(50%);

        transform: translateX(50%);

    }

}
@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }


    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0; 
    }


    /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }

    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}/*
  $(document).ready(function () {

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

});*/
  .wrapper {

    display: flex;

    width: 100%;

}

#sidebar {

    width: 250px;

    position: fixed;

    top: 0;

    left: 0;

    height: 100vh;

    z-index: 999;

    background: #7386D5;

    color: #fff;

    transition: all 0.3s;

}
  .wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
</style>

<script>
  $(document).ready(function () {

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

});
  /*
$(document).ready(function () {

    $('#sidebarCollapse').on('click', function () {

        $('#sidebar').toggleClass('active');

    });

});*/
  /*
  .wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}*/
  
$(document).ready(function () {

    $("#sidebar").mCustomScrollbar({

         theme: "minimal"

    });
  $(document).ready(function () {

    $("#sidebar").mCustomScrollbar({
         theme: "minimal"
    });

    $('#sidebarCollapse').on('click', function () {
        // open or close navbar
        $('#sidebar').toggleClass('active');
        // close dropdowns
        $('.collapse.in').toggleClass('in');
        // and also adjust aria-expanded attributes we use for the open/closed arrows
        // in our CSS
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    });

});
  $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            // hide sidebar
            $('#sidebar').removeClass('active');
            // hide overlay
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            // open sidebar
            $('#sidebar').addClass('active');
            // fade in the overlay
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });


</script>
<%- include("./static/footer") %>
<script>
    const hamburger = document.querySelector(".hamburger");const navMenu = document.querySelector(".nav-menu");const navLink = document.querySelectorAll(".nav-link"); hamburger.addEventListener("click", mobileMenu);navLink.forEach(n => n.addEventListener("click", closeMenu)); function mobileMenu() { hamburger.classList.toggle("active"); navMenu.classList.toggle("active");} function closeMenu() { hamburger.classList.remove("active"); navMenu.classList.remove("active");}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Popper.JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!-- jQuery Custom Scroller CDN -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

