<%- include('./static/header') %>
<style>
#round-image {
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

</style>
<div class="jumbotron">
<div class="row">
  <img src="https://cdn.discordapp.com/<%=user.id%>/<%=user.avatar%>.png" style="border-radius:50%;" class="round-image"></img>
  
  </div>
<p class="text text-info"> Level Statics </p>
<br>
<p class="text text-info"> Your Level : <%= lvl || "0" %></p>
<br>
<p class="text text-info"> Your XP : <%= xp || "0" %></p>
<br>
<p class="text text-info"> XP TO LEVEL : <%= xpToLvl || "0" %> </p>






</div>
