<%- include("./static/header") %>

<body>


<div class="jumbotron">
<h1>Servers: <%= nego.guilds.cache.size %></h1>
<h1>Channels: <%= nego.channels.cache.size %></h1>
<h1>Members: <%= nego.users.cache.size %></h1> 
<h1>Shard Count: </h1>
  <p style="text-align:center;" >Online Statistics</p>
  </div>

</body>

<%- include("./static/footer") %>