<html>

  <head>

    <meta name="theme-color" content="black">

    <title>Greesy</title>
<link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">


    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.esm.min.js" integrity="sha384-pXJyILVSfKOB4xKYbM0dJr+oH4iVvo4s7mWbiTHe6LSxd38hl16DMj6AOJyy2Wcz" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!--  <link rel="stylesheet" href="./assets/css/main.css"/>

    -->
<meta name="author" content="Kardespro">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="be4fd21265001d682f05049b-text/javascript"></script>

    

    

    

<nav class="navbar navbar-expand-lg navbar-light bg-white" style="background-color:#46648c;">

  <a class="navbar-brand" href="#">Greesy</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <div class="navbar-nav">

      <a class="nav-item nav-link active " href="/">Home <span class="sr-only"></span></a>

      <a class="nav-item nav-link " href="/cmds/">Commands</a>

   <!--  <li class="list-group-item">Test</li>-->

      <a class="nav-item nav-link " href="/stat/"><i class="fas fa-signal-alt-3"></i> Statistics</a>

      <% if(user){ %>

     <!--<a class="" href="/user/<%=user.id%>"><img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=" style="width:45px;height:45px;border-radius:50%;border:50%;border-color:green;"></img>  <%= user.username %>#<%= user.discriminator %></a>
    --> <button class="btn btn-primary dropdown-toggle mr-4" id="dropdownMenu1" type="button" data-toggle="dropdown"

  aria-haspopup="true" aria-expanded="false"><img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=" style="width: 45px; height: 45px;border-radius: 50%;border-color:green;"></img> <i class="fad fa-user"></i> <%= user.username%>#<%= user.discriminator%></button>

<div class="dropdown-menu dropdown-primary ">

  <a class="dropdown-item" href="/dash">Dashboard</a>

  <a class="dropdown-item" href="/ticket/create">Support Ticket</a>

  <a class="dropdown-item" href="/user/subscriptions/">Subcriptions</a>
  
  <div class="dropdown-divider"></div>

  <a class="dropdown-item" href="/logout">Logout</a>

</div>
   

    <% }else{ %>

       <a class="nav-item nav-link" href="/l/"><i class="fab fa-discord"></i> Login</a>

     

      <% } %>

    </div>

  </div>

</nav>

    

    </head>

  <body>

    <style>

    @import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

      body{

        font-family: 'Benne', serif;

        }

      .navbar-brand{

        color:white;

      }

      .navbar-nav{

        text-align:center;

        color:#46648c;/*white*/

      }

      a{

        color:white;

      }

    </style>

    <br>

    <br>

   